@model FluorecerApp_Client.Entities.MedicalTestsEnt

@{
    ViewBag.Title = "Asignar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 mx-auto">
        <div class="text-md-left mt-3">
            <button onclick="goBackTo('@Url.Action("Index", "User")')" style="color: #4eaac8; text-decoration: none; background: none; border: none;">
                <i class="fas fa-arrow-left me-2"></i> Regresar
            </button>
        </div>
    </div>
</div>

<script>
    function goBackTo(destination) {
        window.location.href = destination;
    }
</script>

<div class="col-lg-12">
    <div class="feature-block d-lg-flex justify-content-center">

        @if (!string.IsNullOrEmpty(TempData["ResultMessage"] as string))
        {
            <div class="alert alert-success" role="alert">
                @TempData["ResultMessage"]
            </div>
        }

        @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

    </div>
</div>

<br />
<div class="container">
    <div class="main-body">
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="feature-block d-lg-flex justify-content-center">

                            <div class="feature-item mb-5 mb-lg-0">

                                <h5>Asignar Evaluación</h5>
                                @using (Html.BeginForm("AssignEvaluation", "Test", FormMethod.Post, new { enctype = "multipart/form-data", id = "assignForm" }))
                                {
                                    <p>Ingrese los datos requeridos para asignar la evaluación</p>

                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.UserId, ViewBag.LastNames as SelectList, "-- Seleccione un Paciente --", new { @class = "form-control", required = "required" })
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="file">Archivo:</label>
                                        <input type="file" name="file" class="form-control custom-file-input" required />
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary" style="background-color: #3D3372; color: white;">Asignar</button>
                                }

                            </div>

                            <div class="feature-item mb-5 mb-lg-0">
                                <h5>Eliminar Evaluación</h5>
                                @using (Html.BeginForm("DeleteEvaluations", "Test", FormMethod.Post))
                                {
                                    <p>Seleccione al paciente para eliminar las evaluaciones</p>

                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.UserId, (SelectList)ViewBag.LastNames, "-- Seleccione un Paciente --", new { @class = "form-control" })
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-danger">Eliminar Evaluaciones</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<link href="~/Assets/css/Test.css" rel="stylesheet" />
