@model FluorecerApp_Client.Entities.MedicalTestsEnt

@{
    ViewBag.Title = "Tests Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 mx-auto">
        <div class="text-md-left mt-3">
            <button onclick="goBackTo('@Url.Action("Index", "User")')" style="color: #4eaac8; text-decoration: none; background: none; border: none;">
                <i class="fas fa-arrow-left me-2"></i> Regresar
            </button>
        </div>
    </div>
</div>

<script>
    function goBackTo(destination) {
        window.location.href = destination;
    }
</script>


<div class="col-lg-12">
    <div class="feature-block d-lg-flex justify-content-center">

        @if (!string.IsNullOrEmpty(ViewBag.ResultMessage))
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.ResultMessage
            </div>
        }

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
    </div>
</div>

<br />
<div class="container">
    <div class="main-body">
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="feature-block d-lg-flex justify-content-center">

                            <div class="feature-item mb-5 mb-lg-0">
                                <h5>Ver Evaluaciones Asignadas</h5>
                                @if (ViewBag.FileNames != null && ViewBag.FileNames.Count > 0)
                                {
                                    <p>Evaluaciones disponibles:</p>
                                    <ul>
                                        @foreach (var fileName in ViewBag.FileNames)
                                        {
                                            <li>@fileName</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p>No tiene asignaciones pendientes.</p>
                                }
                            </div>

                            <div class="feature-item mb-5 mb-lg-0">
                                <h5>Descargar Evaluación</h5>
                                @if (ViewBag.FileNames != null && ViewBag.FileNames.Count > 0)
                                {
                                    using (Html.BeginForm("DownloadEvaluation", "Test", FormMethod.Post))
                                    {
                                        <p>Descargue sus evaluaciones asignadas:</p>
                                        @Html.DropDownListFor(model => model.SelectedTestId, (SelectList)ViewBag.Evaluations, "Seleccione una evaluación")
                                        <br><br>
                                        <button type="submit" class="btn btn-primary" style="background-color: #3D3372; color: white;">Descargar Evaluación</button>
                                    }


                                    if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
                                    {
                                        <p class="alert alert-danger mt-1" role="alert">
                                            @TempData["ErrorMessage"]
                                        </p>
                                    }


                                }
                                else
                                {
                                    <p>No hay evaluaciones disponibles para descargar.</p>
                                    <button type="button" class="btn btn-secondary" disabled>Descargar Evaluación</button>
                                }
                            </div>

                            <div class="feature-item mb-5 mb-lg-0">
                                <h5>Enviar Evaluación</h5>
                                @if (ViewBag.FileNames != null && ViewBag.FileNames.Count > 0)
                                {
                                    <p>Si ya realizó su evaluación, envíela:</p>
                                    @Html.ActionLink("Enviar Evaluación", "SendEvaluation", "Test", null, new { @class = "btn btn-primary", style = "background-color: #1C8C4D; color: white;" })
                                }
                                else
                                {
                                    <p>No hay evaluaciones disponibles para enviar.</p>
                                    <button type="button" class="btn btn-secondary" disabled>Enviar Evaluación</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            // Este código se ejecutará cuando la página se haya cargado completamente
            $("#SelectedTestId").change(function () {
                var selectedTestId = $(this).val();
                $("#HiddenTestId").val(selectedTestId);
            });
        });
    </script>
}