@model FluorecerApp_Client.Entities.UsersEnt

@{
    ViewBag.Title = "ChangePassword";
}

<div class="row justify-content-center">
    <div class="col-11 mx-auto">
        <div class="text-md-left mt-3">
            <button onclick="goBackTo('@Url.Action("Profile", "User")')" style="color: #4eaac8; text-decoration: none; background: none; border: none;">
                <i class="fas fa-arrow-left me-2"></i> Regresar
            </button>
        </div>
    </div>
</div>

<script>
    function goBackTo(destination) {
        window.location.href = destination;
    }
</script>



@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    <div class="row align-items-center justify-content-center">
        <div class="col-3 mx-auto">

            @if (ViewBag.MsjPantalla != null)
            {
                <div style="text-align:center" class="alert alert-warning" role="alert">
                    @ViewBag.MsjPantalla
                </div>
            }

            <br>
            <h5>Change Password</h5>
            <br>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control" })
                <label for="floatingInput">Contraseña Actual</label>
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(m => m.NewPassword, new { @type = "password", @class = "form-control" })
                <label for="floatingInput">Contraseña Nueva</label>
            </div>

            <div class="form-floating mb-3">
                @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @type = "password", @class = "form-control" })
                <label for="floatingInput">Confirme su Contraseña Nueva</label>
            </div>

            <button type="submit" class="btn btn-primary" style="background-color: #3D3372; color: white;">Cambiar Contraseña</button>
            
        </div>
    </div>
}