@model FluorecerApp_Client.Entities.UsersEnt

@{
    ViewBag.Title = "EditarProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 mx-auto">
        <div class="text-md-left mt-3">
            <button onclick="goBackTo('@Url.Action("Profile", "User")')" style="color: #4eaac8; text-decoration: none; background: none; border: none;">
                <i class="fas fa-arrow-left me-2"></i> Regresar
            </button>
        </div>
    </div>
</div>

<script>
    function goBackTo(destination) {
        window.location.href = destination;
    }
</script>

@using (Html.BeginForm("EditUser", "User", FormMethod.Post))
{
    <div class="row align-items-center justify-content-center">
        <div class="col-3 mx-auto">
            

            @if (ViewBag.MsjPantalla != null)
            {
                <div style="text-align:center" class="alert alert-warning" role="alert">
                    @ViewBag.MsjPantalla
                </div>
            }

            <br>
            <h5>Edita tus Datos Personales</h5>
            <br>

            @Html.HiddenFor(m => m.UserId)

            <div class="form-group">

                @Html.TextBoxFor(m => m.Name, new { @type = "text", @class = "form-control", placeholder = "Nombre", required = "required" })
            </div>

            <div class="form-group">
                <br />
                @Html.TextBoxFor(m => m.LastName, new { @type = "text", @class = "form-control", @placeholder = "Apellidos", required = "required" })
            </div>

            <div class="form-group">
                <br />
                @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control", @placeholder = "Correo Electrónico", required = "required" })
            </div>

            <br />
            <button type="submit" class="btn btn-primary" style="background-color: #3D3372; color: white;">Actualizar</button>
            <br />
            <br />
        </div>
    </div>
}
