@model FluorecerApp_Client.Entities.UsersEnt
@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.Name @Model.LastName</h4>
                                <p class="text-secondary mb-1">Perfil Paciente</p>
                                <p class="text-muted font-size-sm">Dirección</p>

                                @Html.ActionLink("Editar Perfil", "Profile", "User", null, new { @class = "btn btn-main btn-round-full" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Name @Model.LastName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Correo</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Celular</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                88888888
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Dirección</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                San José
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="feature-block d-lg-flex justify-content-center">

                            @if (Session["RoleName"].Equals("Admin"))
                            {
                                <div class="feature-item mb-5 mb-lg-0">
                                    <div class="feature-icon mb-4">
                                        <i class="fas fa-user-edit"></i>
                                    </div>
                                    <span>Usuarios</span>
                                    <h4 class="mb-3">Administrar Usuarios</h4>
                                    <p class="mb-4">Administre a todos los usuarios registrados en el sistema.</p>
                                    @Html.ActionLink("Ver usuarios", "UserConsultation", "UserAdmin", null, new { @class = "btn btn-main btn-round-full" })
                                </div>
                                <div class="feature-item mb-5 mb-lg-0">
                                    <div class="feature-icon mb-4">
                                        <i class="fas fa-clipboard-check"></i>
                                    </div>
                                    <span>Asignaciones</span>
                                    <h4 class="mb-3">Asignar Evaluación</h4>
                                    <p class="mb-4">Asigne las evaluaciones psicopedagogas que requiera el cliente.</p>
                                    @Html.ActionLink("Asignar", "Assign", "Test", null, new { @class = "btn btn-main btn-round-full" })
                                </div>
                                <div class="feature-item mb-5 mb-lg-0">
                                    <div class="feature-icon mb-4">
                                        <i class="fas fa-download"></i>
                                    </div>
                                    <span>Evaluaciones</span>
                                    <h4 class="mb-3">Descargar Evaluaciones</h4>
                                    <p class="mb-4">Descargue las evaluaciones que han realizado los pacientes.</p>
                                    @Html.ActionLink("Ver Pruebas de Usuarios", "TestUsersDone", "Test", null, new { @class = "btn btn-main btn-round-full" })
                                </div>
                            }

                            @if (Session["RoleName"].Equals("Client"))
                            {
                                <div class="feature-item mb-5 mb-lg-0">
                                    <div class="feature-icon mb-4">
                                        <i class="fa-solid fa-wifi"></i>
                                    </div>
                                    <span>Servicios</span>
                                    <h4 class="mb-3">Cita en línea</h4>
                                    <p class="mb-4">Obtén una cita con nosotros desde la comodidad de tu casa.</p>
                                    @Html.ActionLink("Reservar Cita", "Index", "Appointment", null, new { @class = "btn btn-main btn-round-full" })
                                </div>
                                <div class="feature-item mb-5 mb-lg-0">
                                    <div class="feature-icon mb-4">
                                        <i class="fas fa-clipboard-check"></i>
                                    </div>
                                    <span>Asignaciones</span>
                                    <h4 class="mb-3">Mis Evaluaciones</h4>
                                    <p class="mb-4">Visualice sus evaluaciones. O bien, realice el envío de las mismas.</p>
                                    @Html.ActionLink("Ver evaluaciones", "TestUsers", "Test", null, new { @class = "btn btn-main btn-round-full" })
                                </div>
                                <div class="feature-item mb-5 mb-lg-0">
                                    <div class="feature-icon mb-4">
                                        <i class="fa-regular fa-clock"></i>
                                    </div>
                                    <span>Horarios</span>
                                    <h4 class="mb-3">Horarios de servicio</h4>
                                    <ul class="w-hours list-unstyled">
                                        <li class="d-flex justify-content-between">Lun - Vie : <span>8:00 - 17:00</span></li>
                                        <li class="d-flex justify-content-between">Sab - Dom : <span>9:00 - 17:00</span></li>
                                    </ul>
                                </div>
                                <div class="feature-item mb-5 mb-lg-0">
                                    <div class="feature-icon mb-4">
                                        <i class="fa-solid fa-phone-volume"></i>
                                    </div>
                                    <span>Contáctanos</span>
                                    <h4 class="mb-3">8842 0980</h4>
                                    <p>Contáctanos en caso de requerir más información o reservar una cita.</p>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

