@model PagedList.IPagedList<FluorecerApp_Client.Entities.UsersEnt>
@using PagedList.Mvc;

@{
    ViewBag.Title = "UserAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 mx-auto">
        <div class="text-md-left mt-3">
            <button onclick="goBackTo('@Url.Action("Index", "User")')" style="color: #4eaac8; text-decoration: none; background: none; border: none;">
                <i class="fas fa-arrow-left me-2"></i> Regresar
            </button>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function goBackTo(destination) {
        window.location.href = destination;
    }
</script>

<div class="row justify-content-center">
    <div class="col-11 mx-auto">
        @if (ViewBag.MsjPantalla != null)
        {
            <div style="text-align:center" class="alert alert-warning" role="alert">
                @ViewBag.MsjPantalla
            </div>
        }

        <br />
        <h5 class="text-left ms-md-1">Usuarios</h5>
        <br />

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar usuario por nombre" id="searchTerm">
            <button class="btn" style="background-color: #3D3372; color: white; border: 1px solid #3D3372;" type="button" onclick="searchUsers()">
                <i class="fas fa-search"></i> Buscar
            </button>
        </div>

        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo Electrónico</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>

                        @if (@user.Status)
                        {
                            <td>Activo</td>
                        }
                        else
                        {
                            <td>Inactivo</td>
                        }
                        <td>

                            @if (user.Status)
                            {
                                <button onclick="inactivateUser(@user.UserId)" class="btn btn-danger">
                                    Inactivar
                                </button>
                            }
                            else
                            {
                                <button onclick="activateUser(@user.UserId)" class="btn btn-success">
                                    Activar
                                </button>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="center-block">
            @Html.PagedListPager(Model, page => Url.Action("UserConsultation", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, LinkToFirstPageFormat = "<i class='fas fa-angle-double-left'></i>", LinkToPreviousPageFormat = "<i class='fas fa-angle-left'></i>", LinkToNextPageFormat = "<i class='fas fa-angle-right'></i>", LinkToLastPageFormat = "<i class='fas fa-angle-double-right'></i>" })
        </div>
    </div>
</div>

<link href="~/Assets/css/UsersAdmin.css" rel="stylesheet" />
