@model IEnumerable<FluorecerApp_Client.Entities.AppointmentsEnt>

<div class="row justify-content-center">
    <div class="col-11 mx-auto">
        <div class="text-md-left mt-3">
            <button onclick="goBackTo('@Url.Action("Index", "User")')" style="color: #4eaac8; text-decoration: none; background: none; border: none;">
                <i class="fas fa-arrow-left me-2"></i> Regresar
            </button>
        </div>
    </div>
</div>

<script>
    function goBackTo(destination) {
        window.location.href = destination;
    }
</script>

<div class="container mt-4">
    <table id="appointmentsTable" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Fecha</th>
                <th>Día</th>
                <th>Disponible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    <td>@appointment.Date.ToString("yyyy-MM-dd")</td>
                    <td>@appointment.Date.ToString("dddd")</td>
                    <td>@(appointment.Available ? "Sí" : "No")</td>
                    <td>
                        @if (appointment.Available)
                        {
                            <a class="btn btn-success" href="@Url.Action("SetAppointment", "Appointment", new { appointmentId = appointment.AppoimentId })">Reservar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

